/*Header*/

body {
    background-image: url(../imgs/teste9.jpg);
    background-size: cover;
}

#header {
    position: fixed;
    height: 10%;
    width: 100%;
    z-index:2;
}

a {
    text-decoration: none;
    color: black;
}

.barra_vermelha {
    position: relative;
    height: 8%;
    width: 100%;
    background-color: #C00026;
}

.container_esquerda {
    display: flex;
    justify-content: flex-start;
    height: 92%;
    width: 50%;
    float: left;
}

.container_direita {
    display: flex;
    justify-content: flex-end;
    height: 92%;
    width: 50%;
    float: right;
}

.seletor_inicio {
    margin-left: 8%;
    margin-top: 0.4%;
}

.insper_logo {
    font-size: 4.6rem;
}

.insper_logo:hover {
    text-decoration: underline;
    text-decoration-color: #C00026;
}

.seletor_categorias {
    margin-left: 20%;
    width: 15rem;
    height: 5rem;
    background-color: #C00026;
}

.menu_texto_categorias {
    font-size: 2.6rem;
    text-align: center;
    margin-top: 6%;
    color: white;
}

.sub_categorias_menu {
    background-color: #a8adb5;
    display: none;
    opacity: 0.9;
    margin-top: 10%;
}

.sub_categoria {
    font-size: 2rem;
    text-align: center;
    border: 1px solid black;
}

.seletor_categorias:hover .sub_categorias_menu {
    opacity: .9;
    display: block;
}

.sub_categoria:hover {
    background-color: #C00026;
}

.seletor_sobre {
    margin-right: 3%;
    /*background-color: #C00026;*/
    width: 9rem;
}

.menu_texto_sobre {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 6%;
    text-align: center;
}

.menu_texto_sobre:hover {
    text-decoration: underline;
    text-decoration-color: #C00026;
}

.seletor_contato {
    margin-right: 5%;
    width: 9rem;
    height: 5rem;
    /*background-color: #C00026;*/
}

.menu_texto_contato {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 6%;
    font-family: roboto;
    color: black;
}

.menu_texto_contato:hover {
    text-decoration: underline;
    text-decoration-color: #C00026;
}

/*END HEADER*/

/*SOBRE*/

.conteudo {
    z-index:1;
    position: fixed;
    margin-top: 6%;
    height: 92%;
    width: 100%;
    overflow: scroll;
}

.Categoria {
    text-align: center;
    font-size: 4rem;
    font-family: 'Exo', sans-serif;
    color: black;
    margin-bottom: 5%;
}

.box_categoria {
    position: relative;
    height: 60%;
    width: 100%;
    margin-bottom: 5%;
}

.texto_categorias {
    font-size: 3rem;
    text-align: center;
    color: black;
    text-decoration: underline;
    text-decoration-color: #C00026;
    margin-right: 2%;
}

.texto_explicacao {
    font-size: 2rem;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.categorias_imagem {
    height: 100%;
    width: 40%;
    float: left;
    border: 0.4rem solid black;
    border-radius: 50%;
    margin-right: 2%;
    margin-left: 1%;
}

.categorias_imagem_direita {
    height: 100%;
    width: 40%;
    float: right;
    border: 0.4rem solid black;
    border-radius: 50%;
    margin-left: 2%;
    margin-right: 1%;
}

.div_gap {
    height: 15rem;
    width: 100%;
}

@media (max-width: 450px) {

    .seletor_inicio {
        margin-left: 8%;
        margin-top: 0.16%;
    }

    .insper_logo {
        font-size: 1.84rem;
    }

    .seletor_categorias {
        margin-left: 10%;
        width: 10rem;
        height: 2rem;
    }

    .menu_texto_categorias {
        font-size: 1.04rem;
        margin-top: 2.4%;
    }

    .sub_categorias_menu {
        margin-top: 16%;
    }

    .sub_categoria {
        font-size: 0.8rem;
        border: 0.4px solid black;
    }

    .seletor_sobre {
        margin-right: 1.2%;
        width: 3.6rem;
    }

    .menu_texto_sobre {
        font-size: 0.88rem;
        margin-top: 2.4%;
    }

    .seletor_contato {
        margin-right: 5%;
        width: 3.6rem;

    }

    .menu_texto_contato {
        font-size: 0.88rem;
        margin-top: 2.4%;
    }

    .Categoria {
        margin-top: 8%;
        font-size: 3rem;
    }

    .box_categoria {
        position: relative;
        height: 60%;
        width: 100%;
        margin-top: 10rem;
    }

    .texto_categorias {
        font-size: 1.5rem;
        text-align: center;
        color: black;
        text-decoration: underline;
        text-decoration-color: #C00026;
        margin-right: 0.8%;
    }

    .texto_explicacao {
        font-size: 1rem;
        margin-left: 5%;
        margin-right: 5%;
    }

    .categorias_imagem {
        position: relative;
        height: 40%;
        width: 40%;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .categorias_imagem_direita {
        position: relative;
        height: 40%;
        width: 40%;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}
/*END CATEGORIAS*/