/*Header*/

body {
    background-image: url(../imgs/teste9.jpg);
    background-size: cover;
}

#header {
    position: fixed;
    height: 10%;
    width: 100%;
    z-index:2;
}

a {
    text-decoration: none;
    color: black;
}

.barra_vermelha {
    position: relative;
    height: 8%;
    width: 100%;
    background-color: #C00026;
}

.container_esquerda {
    display: flex;
    justify-content: flex-start;
    height: 92%;
    width: 50%;
    float: left;
}

.container_direita {
    display: flex;
    justify-content: flex-end;
    height: 92%;
    width: 50%;
    float: right;
}

.seletor_inicio {
    margin-left: 8%;
    margin-top: 0.4%;
}

.insper_logo {
    font-size: 4.6rem;
}

.insper_logo:hover {
    text-decoration: underline;
    text-decoration-color: #C00026;
}

.seletor_categorias {
    margin-left: 20%;
    width: 15rem;
    height: 5rem;
}

.menu_texto_categorias {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 6%;
    color: black;
}

.seletor_categorias:hover .menu_texto_categorias{
    text-decoration: underline;
    text-decoration-color: #C00026;
}

.sub_categorias_menu {
    background-color: #a8adb5;
    display: none;
    opacity: 0.9;
    margin-top: 10%;
}

.sub_categoria {
    font-size: 2rem;
    text-align: center;
    border: 1px solid black;
}

.seletor_categorias:hover .sub_categorias_menu {
    opacity: .9;
    display: block;
}

.sub_categoria:hover {
    background-color: #C00026;
}

.seletor_sobre {
    margin-right: 3%;
    background-color: #C00026;
    width: 9rem;
    height: 5rem;
}

.menu_texto_sobre {
    font-size: 2.6rem;
    text-align: center;
    margin-top: 6%;
    text-align: center;
    color: white;
}

.menu_texto_sobre:hover {
    text-decoration: underline;
    text-decoration-color: #C00026;
}

.seletor_contato {
    margin-right: 5%;
    width: 9rem;
    height: 5rem;
    /*background-color: #C00026;*/
}

.menu_texto_contato {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 6%;
    font-family: roboto;
    color: black;
}

.menu_texto_contato:hover {
    text-decoration: underline;
    text-decoration-color: #C00026;
}

/*END HEADER*/

/*SOBRE*/

.conteudo {
    z-index:1;
    position: fixed;
    margin-top: 6%;
    height: 92%;
    width: 100%;
    overflow: scroll;
}

#sobre_titulo {
    margin-top: 0.5%;
	text-align: center;
    font-size: 4rem;
    font-family: 'Exo', sans-serif;
	color: black;
}

#descricao_container {
	position: relative;
	padding-top: 1rem;
	max-width: 50rem;
	margin: 0 auto;
}

.descricao_sobre{
	text-align: center;
	color: black;
	font-size: 1.5rem;
    font-family: arial;
    line-height: 2rem;
	padding: 50px;
}

.imagem_alinhamento {
	position: relative;
	display: block;
	margin: 0 auto;
	border: solid 5px;
}

.div_gap {
    height: 10rem;
    width: 100%;
}

 @media (max-width: 450px) {

    .seletor_inicio {
        margin-left: 8%;
        margin-top: 0.16%;
    }

    .insper_logo {
        font-size: 1.84rem;
    }

    .seletor_categorias {
        margin-left: 10%;
        width: 10rem;
        height: 2rem;
    }

    .menu_texto_categorias {
        font-size: 0.88rem;
        margin-top: 2.4%;
    }

    .sub_categorias_menu {
        margin-top: 16%;
    }

    .sub_categoria {
        font-size: 0.8rem;
        border: 0.4px solid black;
    }

    .seletor_sobre {
        margin-right: 1.2%;
        width: 3.6rem;
        height: 2rem;
    }

    .menu_texto_sobre {
        font-size: 1.04rem;
        margin-top: 2.4%;
    }

    .seletor_contato {
        margin-right: 5%;
        width: 3.6rem;
        height: 2rem;
    }

    .menu_texto_contato {
        font-size: 0.88rem;
        margin-top: 2.4%;
    }

    #sobre_titulo {
    margin-top: 8%;
    font-size: 3rem;
    }

    .imagem_alinhamento {
        height: 80%;
        width: 80%;
    }

}

/*END SOBRE*/