/*Header*/
body {
    background-image: url(../imgs/teste9.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    position: fixed;
    height: 8%;
    width: 100%;
    z-index:2;
}

.seletor_vermelho {
    position: relative;
    height: 9%;
    width: 100%;
    background-color: #C00026;
}

.header_esquerda {
    display: flex;
    height: 92%;
    width: 50%;
    float: left;
}

#insper_logo {
    font-size: 4.7rem;
    margin-left: 8%;
}

.seletor_pagina_inicial {
    background-color: none;
    height: 5rem;
    width: 16rem;
    max-height: 6rem;
    max-width: 50rem;
    margin-left: 10%;
}

.menu_inicial {
    font-size: 2.4rem;
    font-family: 'roboto';
    text-align: center;
    margin-top: 0.5rem;
    color: black;
}

.menu_inicial:hover {
    text-decoration: underline;
    text-decoration-color: #C00026;
}

.menu_selecionado {
    font-size: 2.4rem;
    font-family: 'roboto';
    text-align: center;
    margin-top: 0.5rem;
    color: white;
}

.seletor_categorias {
    height: 5rem;
    width: 16rem;
}

.menu_categorias {
    font-size: 2.5rem;
    padding-left: 3rem;
    font-family: roboto;
    margin-top: 5%;
}

.header_direita {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 92%;
    width: 50%;
    float: left;
}

.subdasub {
    display: table;
}

.menu_secundario {
    font-size: 2.3rem;
    margin-top: 0.5%;
    margin-right: 7%;
    font-family: roboto;
    color: black;
    text-align: center;
    margin-top: 5%;
}

.menu_secundario:hover {
    text-decoration: underline;
    text-decoration-color: #C00026;
}

.seletor_sobre {
    height: 5rem;
    width: 8rem;
    margin-top: 1%;
    margin-right: 2%;

}

.seletor_suporte {
    height: 5rem;
    width: 10rem;

    margin-right: 5%;
    background-color: #C00026;
}

.sub_categoria {
    display: block;
    background-color: #a8adb5;
    padding-top: 0.5%;
    border: 1px solid black;
    font-family: roboto;
    font-size: 2rem;
    text-align: center;

    color: black;
}

.sub_categorias_menu {
    display: none;
}

.sub_categoria:hover {
    background-color: #C00026;
    opacity: 1;

}
.subdasub:hover .sub_categorias_menu {
    opacity: .9;
    display: block;
}

.subdasub:hover .menu_categorias {
    text-decoration: underline;
    text-decoration-color: #C00026;
}

.testolas {
    padding-top: 50px;
    font-size: 500px;
    text-align: center;
}


/*END HEADER*/

/*PORTFÓLIO*/

.conteudo {
    z-index:1;
    position: fixed;
    margin-top: 6%;
    height: 92%;
    width: 100%;
    overflow: scroll;
}

#suporte_titulo {
    margin-top: 1.5rem;
    color: black;
    font-size: 5rem;
    font-family: 'Exo', sans-serif;
    text-align: center;
}

.nome_suporte {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: black;
    text-align: center;
    font-size: 2rem;
}

#cor_andre {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: lightgreen;
    border-style: solid;
    border-width: 2px;
    width: 580px;
}

#cor_felipe {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: lightblue;
    border-style: solid;
    border-width: 2px;
    width: 580px;
}
#cor_gab {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: orange;
    border-style: solid;
    border-width: 2px;
    width: 580px;
}

#cor_gui {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: red;
    border-style: solid;
    border-width: 2px;
    width: 580px;
}

.descricao_suporte {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Times New Roman"
}

@media (max-width: 450px) {
    #suporte_titulo {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    #insper_logo {
        font-size: 2rem;
        margin-left: 8%;
    }

    .menu_inicial {
        font-size: 0.8rem;
        font-family: 'roboto';
        text-align: center;
        margin-top: 0.5rem;
        color: black;
    }

    .menu_categorias {
        font-size: 0.8rem;
        padding-left: 0rem;
        font-family: roboto;
        margin-top: 3.2%;
        margin-left: 5%;
    }

    .menu_selecionado {
        font-size: 0.8rem;
        font-family: 'roboto';
        text-align: center;
        margin-top: 0.5rem;
        color: white;
    }

    .seletor_sobre {
        height: 2.5rem;
        width: 20rem;
        max-height: 6rem;
        max-width: 50rem;
        margin-left: 35%;
        margin-right: 4%;
    }

    .menu_secundario {
        font-size: 0.8rem;
        margin-top: 0.5%;
        margin-right: 7%;
        font-family: roboto;
        color: black;
        text-align: center;
        margin-top: 15%;
    }

    .imagem_alinhamento {
        height: 80%;
        width: 80%;
    }

    .sub_categorias_menu {
        display: none;
        margin-top: -19%;
        margin-left: -3%;
        height: 3rem;
        width: 6rem;
    }
    
    .sub_categoria {
        display: block;
        background-color: #a8adb5;
        border: 1px solid black;
        font-family: roboto;
        font-size: 1rem;
        text-align: center;
        color: black;
    }
    .seletor_suporte {
        height: 2.5rem;
        width: 20rem;
    }
}
#cor_andre {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: lightgreen;
    border-style: solid;
    border-width: 2px;
    width: 90%;
}

#cor_felipe {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: lightblue;
    border-style: solid;
    border-width: 2px;
    width: 90%;
}
#cor_gab {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: orange;
    border-style: solid;
    border-width: 2px;
    width: 90%;
}

#cor_gui {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: red;
    border-style: solid;
    border-width: 2px;
    width: 90%;
}
/*END INFORMACOES DE CONTATO*/